<div id="app" class="app app-content-full-height">

    <div id="header" class="app-header">

        <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed"
                data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>


        <div class="mobile-toggler">
            <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled"
                data-toggle-target=".app">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>


        <div class="brand">
            <a href="index.html" class="brand-logo">
                <span class="brand-img">
                    <span class="brand-img-text text-theme">D</span>
                </span>
                <span class="brand-text">Disposable Mail Hub</span>
            </a>
        </div>


        <div class="menu">
  
            <div class="menu-item dropdown dropdown-mobile-full">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                    <div class="menu-icon"><i class="bi bi-grid-3x3-gap nav-icon"></i></div>
                </a>
                <div class="dropdown-menu fade dropdown-menu-end w-300px text-center p-0 mt-1">
                    <div class="row row-grid gx-0">
                        <div class="col-4">
                            <a href="email_inbox.html" class="dropdown-item text-decoration-none p-3 bg-none">
                                <div class="position-relative">
                                    <i
                                        class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
                                    <i class="bi bi-envelope h2 opacity-5 d-block my-1"></i>
                                </div>
                                <div class="fw-500 fs-10px text-white">INBOX</div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="pos_customer_order.html" target="_blank"
                                class="dropdown-item text-decoration-none p-3 bg-none">
                                <div><i class="bi bi-hdd-network h2 opacity-5 d-block my-1"></i></div>
                                <div class="fw-500 fs-10px text-white">POS SYSTEM</div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="calendar.html" class="dropdown-item text-decoration-none p-3 bg-none">
                                <div><i class="bi bi-calendar4 h2 opacity-5 d-block my-1"></i></div>
                                <div class="fw-500 fs-10px text-white">CALENDAR</div>
                            </a>
                        </div>
                    </div>
                    <div class="row row-grid gx-0">
                        <div class="col-4">
                            <a href="helper.html" class="dropdown-item text-decoration-none p-3 bg-none">
                                <div><i class="bi bi-terminal h2 opacity-5 d-block my-1"></i></div>
                                <div class="fw-500 fs-10px text-white">HELPER</div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="settings.html" class="dropdown-item text-decoration-none p-3 bg-none">
                                <div class="position-relative">
                                    <i
                                        class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
                                    <i class="bi bi-sliders h2 opacity-5 d-block my-1"></i>
                                </div>
                                <div class="fw-500 fs-10px text-white">SETTINGS</div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="widgets.html" class="dropdown-item text-decoration-none p-3 bg-none">
                                <div><i class="bi bi-collection-play h2 opacity-5 d-block my-1"></i></div>
                                <div class="fw-500 fs-10px text-white">WIDGETS</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="menu-item dropdown dropdown-mobile-full">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                    <div class="menu-img online">
                        <img src="assets/img/user/profile.jpg" alt="Profile" height="60">
                    </div>
                    <div class="menu-text d-sm-block d-none"><span class="__cf_email__"
                           >Account Setting</span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
                    <a class="dropdown-item d-flex align-items-center" href="profile.html">PROFILE <i
                            class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i></a>
                    <a class="dropdown-item d-flex align-items-center" href="email_inbox.html">INBOX <i
                            class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i></a>
                    <a class="dropdown-item d-flex align-items-center" href="calendar.html">CALENDAR <i
                            class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i></a>
                    <a class="dropdown-item d-flex align-items-center" href="settings.html">SETTINGS <i
                            class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center" role="button" (click)="logout()">LOGOUT <i
                            class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i></a>
                </div>
            </div>
        </div>


       

    </div>


    <div id="sidebar" class="app-sidebar">

        <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

            <div class="menu">
                <div class="menu-header">Navigation</div>
                <div class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/user/home"class="menu-link">
                        <span class="menu-icon"><i class="bi bi-cpu"></i></span>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </div>
                <div class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a  routerLink="/user/generate-mail"  
                     class="menu-link">
                        <span class="menu-icon"><i class="bi bi-envelope-check"></i></span>
                        <span class="menu-text">Generate Mail</span>
                    </a>
                </div>
               
                
            </div>

            <!-- <div class="p-3 px-4 mt-auto">
                <a href="documentation/index.html" target="_blank" class="btn d-block btn-outline-theme">
                    <i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Documentation
                </a>
            </div> -->
        </div>

    </div>


    <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app"
        data-toggle-class="app-sidebar-mobile-toggled"></button>


    <div id="content" class="app-content p-3">
        <router-outlet></router-outlet>
    </div>


    <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>


  
</div>


